html {
  font-family: Helvetica, sans-serif;
  background-color: white;
  text-align: center;
}

body {
  background-color: white;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

h3, .process {
  color: black;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  font-family: Helvetica;
}


.process2 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.process3 {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
}

.head_list {
  font-family: Helvetica
  font-size: 18px;
  color: white;
}

ul {
  list-style-type: none;
}

.header .head_list {
  background-image: url('/images/the-flatiron-building.png');
}

footer {
  background-color: dimgray;
  color: white;
  font-weight: normal;
  font-size: 11px;
  text-align: left;
}

.footer2 {
  background-color: dimgray;
  color: white;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
}
